ul#continents {
	list-style: none;
	background: url("../img/map_90_1.png") no-repeat 0 0;
	position: relative;
	width: 100%;
	height: 245px;
	margin: 0;
	padding: 0;
}
ul#continents li {
	position: absolute;
}
ul#continents li a:hover {
	background: url(../img/map_90_1.png) no-repeat 0 0;
}

#northamerica {
	width: 185px;
	height: 235px;
	top: 1px;
	left: 0px;
}
ul#continents li#northamerica a:hover {
	background-position: -1px -243px;
}
#africa {
	width: 110px;
	height: 125px;
	top: 75px;
	left: 185px;
}
ul#continents li#africa a:hover {
	background-position: -185px -375px;
}
#europe {
	width: 110px;
	height: 75px;
	top: 1px;
	left: 185px;
}
ul#continents li#europe a:hover {
	background-position: -213px -253px;
}
#asia {
	width: 195px;
	height: 155px;
	top: 1px;
	left: 253px;
}
ul#continents li#asia a:hover {
	background-position: -325px -242px;
}	
#australia {
	width: 98px;
	height: 85px;
	top: 138px;
	left: 385px;
}
ul#continents li#australia a:hover {
	background-position: -368px -412px;
}

ul#continents li a span {
	display: none;
}
ul#continents li a:hover span {
	display: block;
}
ul#continents li a{
	display: block;
	height: 100%;
	text-decoration: none;
}
ul#continents li a:hover span {
	display: block;
	padding: 5px;
	width: 150px;
	background: #000;
	position: relative;
	top: 50%;
	font: 11px Arial, Helvetica, sans-serif;
	opacity: .75;
	filter:alpha(opacity=75);
	color: #FFF;
}

